 body{
	color:#999999;
    background-color: #cccccc;
     font-emphasize-style: Georgia;
 }

#menu{
    background-color: #444444;
    padding-bottom: 30px;
    padding-top:10px;
    text-align: center;
}

.tab{
    color:#ffffff;
}

.tabSelect{
    color: #000000;

}

.block{
    border: 1px solid black;
    color:black;
}

.champBlock{
    margin-top: 50px;
    border: 2px outset #777777;
    padding-left: 0px;
    margin-bottom: 50px;
    color: black;
}

 .info {
     position: relative;
     color: black;
     text-decoration: none;
 }
 .info span {
     display: none; /* On masque l'infobulle. */
 }

 .info:hover {
     background: none; /* Correction d'un bug d'Internet Explorer. */
     z-index: 500; /* On définit une valeur pour l'ordre d'affichage. */

     cursor: pointer; /* On change le curseur par défaut par un curseur d'aide. */
 }

 .info:hover span {
     display: inline; /* On affiche l'infobulle. */
     position: absolute;
     height: auto;
     width:400px;

     top: 0px; /* On positionne notre infobulle.*/
     left: 0px;

     background: #d4d4d4;

     color: #000000;
     padding: 3px;
     border: 1px solid grey;
     border-left: 4px solid grey;
 }

 p {
     text-align: center;
 }

 .progress{ /* redéfinition pour ne pas avoir le reste de la bar de progression */
     background-color:#cccccc;
     border:none;
     box-shadow: none;
 }

 table, th, td {
     border: 1px solid black;
     border-collapse: collapse;
 }

 /*
 mise en page des boutons filtres des champions
  */
 .button {

 }

 .button:active,
 .button.is-checked {
     background-color: #777777;
 }

/* permet d'avoir les champions en barre horizontale */
 section.scrollmenu {
     background-color: #444444;
     overflow: auto;
     white-space: nowrap;
 }

 section.scrollmenu a {
     display: inline-block;
     text-decoration: none;
 }

 section.scrollmenu a:hover {
     background-color: #d4d4d4;
 }




