body {
    color: #999999;
    background-color: #cccccc;
    font-emphasize-style: Georgia;
    height: 100%;
    margin:0;
}

#menu {
    background-color: #444444;
    padding-bottom: 30px;
    padding-top: 10px;
    text-align: center;
}

.tab {
    color: #ffffff;
}

.tabSelect {
    color: #000000;

}

.block {
    border: 1px solid black;
    color: black;
}

.champBlock {
    margin-top: 50px;
    border: 2px outset #777777;
    padding-left: 0px;
    margin-bottom: 50px;
    color: black;
}

.info {
    position: relative;
    color: black;
    text-decoration: none;
}

.info span {
    display: none; /* On masque l'infobulle. */
}

.info:hover {
    background: none; /* Correction d'un bug d'Internet Explorer. */
    z-index: 500; /* On définit une valeur pour l'ordre d'affichage. */

    cursor: pointer; /* On change le curseur par défaut par un curseur d'aide. */
}

.info:hover span {
    display: inline; /* On affiche l'infobulle. */
    position: absolute;
    height: auto;
    width: 400px;

    top: 0px; /* On positionne notre infobulle.*/
    left: 0px;

    background: #d4d4d4;

    color: #000000;
    padding: 3px;
    border: 1px solid grey;
    border-left: 4px solid grey;
}

p {
    text-align: center;
}

.progress { /* redéfinition pour ne pas avoir le reste de la bar de progression */
    background-color: #cccccc;
    border: none;
    box-shadow: none;
}

table#t01 th {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
}

/*
mise en page des boutons filtres des champions
 */
.button {

}

.button:active,
.button.is-checked {
    background-color: #777777;
}

/* permet d'avoir les champions en barre horizontale */
section.scrollmenu {
    background-color: #999999;
    overflow: auto;
    white-space: nowrap;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

section.scrollmenu a {
    display: inline-block;
    text-decoration: none;
}

section.scrollmenu a:hover {
    background-color: #d4d4d4;
    zoom: 1.5;
}

#map {
    height: 300px;
    width: 60%;
    margin: 20px;
}

#listeTournois {
    text-align: center;
    margin: 20px;
    color: black;
}

.liTour {
    color: black;
}

#descripTournois {
    margin-top: 50px;
    border: 2px outset #777777;
    padding-left: 0px;
    margin-bottom: 5%;
}

.button1 {

    font-size: 28px;
    border-radius: 50%;
    color: darkred;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    width: 100%;

}

.button1:hover {

    background-color: dimgrey; /* Green */
    color: white;

}

#footer {

    background-color: #444444;
    color: #999999;
    margin-bottom: 0;
    width: 100%;

}


