<!-- Choix de type de champion
<div class="" id="filters">
    <button type="button" id="myBtn" onclick="myFunction()" value="*">Tous</button>
    <button type="button" id="myBtn1" onclick="myFunction()" value="Assassin">Assassin</button>
    <button type="button" id="myBtn2" onclick="myFunction()" value="Combattant">Combattant</button>
    <button type="button" id="myBtn3" onclick="myFunction()" value="Mage">Mage</button>
    <button type="button" id="myBtn4" onclick="myFunction()" value="Support">Support</button>
    <button type="button" id="myBtn5" onclick="myFunction()" value="Tank">Tank</button>
    <button type="button" id="myBtn6" onclick="myFunction()" value="Tireur">Tireur</button>
</div>-->



<!-- Menu Champ -->
<!--
<section >
    <span ng-repeat="chap in champions">
    <iframe src="#/champ/:msg" class="col-sm-12" marginwidth="" height=400 scrolling=auto frameborder=0><a href="#/champ/{{chap.name}}">
        <img class="img-responsive" ng-src="img/champions/{{chap.imageS}}"
             alt="Not Found"
             style="float:left;margin:2px;border-width:0"/>
    </a></iframe></span>
</section>
-->
<section class="scrollmenu" class="col-sm-push-2">
    <span id="demo" ng-repeat="chap in champions" >
        <a href="#/champ/{{chap.name}}"> <img class="img-responsive" ng-src="img/champions/{{chap.imageS}}"
                                              alt="Not Found"
                                              style="float:left;margin:2px;border-width:0"/> </a>
    </span>
</section>

<!-- Information -->
<section class="col-sm-10 col-sm-offset-1 champBlock">
    <!-- Image -->
    <div class="col-sm-3" style="padding-left:0">
        <img class="img-responsive" src="img/champions/{{champ.imageChp}}" alt="Not Found" width="230px">
    </div>


    <div class="col-sm-9">
        <!-- Name and Type -->
        <h1 class="col-sm-6" style="text-align: center; color: #8b0000">
            {{champ.name}}
        </h1>
        <h1 class="col-sm-6" style="text-align: center; color: #808080">
            {{champ.type}}
        </h1>
        <br><br>
        <!-- Graphique des statistiques -->
        Defense
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: {{champ.defense}}%;"
                 aria-valuenow={{champ.defense}} aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        Attack
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: {{champ.attack}}%;"
                 aria-valuenow={{champ.attack}} aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        Power
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: {{champ.power}}%;" aria-valuenow={{champ.power}}
                 aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        Difficulty
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: {{champ.difficulty}}%;"
                 aria-valuenow="{{champ.difficulty}}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <br>
        <br>

        <!-- Sorts -->
        <div class="sort row" style="align-content: center" class="col-sm-2">
            <span class="col-sm-2">
                <a class="info">
                <img class="img-responsive" src="img/champions/{{champ.imgPassive}}" alt="Not Found">
                <span>{{champ.passive}}</span></a>
            </span>
            <span class="col-sm-2">
                <a class="info">
                <img class="img-responsive" src="img/champions/{{champ.imgA}}" alt="Not Found">
                    <span>{{champ.SpellA}}</span></a>
            </span>
            <span class="col-sm-2">
                <a class="info">
                <img class="img-responsive" src="img/champions/{{champ.imgZ}}" alt="Not Found">
                    <span>{{champ.SpellZ}}</span></a>
            </span>
            <span class="col-sm-2">
                <a class="info">
                <img class="img-responsive" src="img/champions/{{champ.imgE}}" alt="Not Found">
                    <span>{{champ.SpellE}}</span></a>
            </span>
            <span class="col-sm-2">
                <a class="info">
                <img class="img-responsive" src="img/champions/{{champ.imgR}}" alt="Not Found">
                    <span>{{champ.SpellR}}</span></a>
            </span>
        </div>
    </div>
</section>

<!-- Histoire -->
<section class="col-sm-10 col-sm-offset-1 champBlock">

    <div>Histoire de {{champ.name}}</div>

    <IFRAME src="{{champ.history}}" class="col-sm-12" marginwidth="" height=400 scrolling=auto frameborder=0 ></IFRAME>

</section>