<!-- 4 types de cartes différentes Choisir sur quelle carte on veut les infos-->

<section class="" style="text-align: center">
    <span ng-repeat="carte in cartes">
        <a href="#/maps/{{carte.name}}" class="col-sm-3">
            <button class="button button1"> {{carte.name}} </button>
        </a>
    </span>
</section>

<!-- Cadre d'information pour les cartes -->
<section class="col-sm-10 col-sm-offset-1 champBlock" style="text-align: center">
    <font size="8" color="#8b0000"> {{carte.name}} </font><br><br>
    <div> {{carte.smalldescription}}</div>
    <div> Modes de jeu : {{carte.playModes}}</div>
    <br>
    <center> <img src="img/maps/{{carte.imagemaps}}"> </center>
    <br><br>
    <font size="6" color="#708090"> Description </font><br><br>
    <div>{{carte.bigdescription}}</div>

</section>
